

<div class="container">
  <p>
    <a class="btn btn-primary" >
      Envie Sua Historia Agora!
    </a>
  </p>

  <div class="row">
    <div class="col-md-8">
      <div class="well">
        <h3>O dia em que Eu sai de casa!</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br>
        <br>
        <a href="#" class="btn btn-warning btn-xs">Acho que é Mentira</a><span class="text-warning">(28)</span>
        <a href="#" class="btn btn-success btn-xs">Caraca que Historia Incrível</a><span class="text-success">(1240)</span>
        <a href="#" class="btn btn-link btn-xs">Comentarios</a><small><em>(330)</em></small>
        <small class="text-muted pull-left"> Criado por: Filipe Prado em 03/11/2016 as 15:26</small>
      </div>
      <div class="well">
        <h3>Clovis, O Açougueiro</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br>
        <br>
        <a href="#" class="btn btn-warning btn-xs">Acho que é Mentira</a><span class="text-warning">(28)</span>
        <a href="#" class="btn btn-success btn-xs">Caraca que Historia Incrível</a><span class="text-success">(1240)</span>
        <a href="#" class="btn btn-link btn-xs">Comentarios</a><small><em>(330)</em></small>
        <small class="text-muted pull-left"> Criado por: Filipe Prado em 03/11/2016 as 15:26</small>
      </div>
      <div class="well">
        <h3>Cai da Cama.</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br>
        <br>
        <a href="#" class="btn btn-warning btn-xs">Acho que é Mentira</a><span class="text-warning">(28)</span>
        <a href="#" class="btn btn-success btn-xs">Caraca que Historia Incrível</a><span class="text-success">(1240)</span>
        <a href="#" class="btn btn-link btn-xs">Comentarios</a><small><em>(330)</em></small>
        <small class="text-muted pull-left"> Criado por: Filipe Prado em 03/11/2016 as 15:26</small>
      </div>
    </div>
  </div>
</div>
