html, body{
  line-height: 1.5;
  font-family: 'Open sans', sans-serif;
  font-size: 1.1rem;
  color: #c3c3c3;
}

h1, h2, h3, h4{
  font-family: 'Montserrat', serif;
  font-size: 2.4rem;
}


h1.story-title{
  margin: 0 0 10px 0;
  text-decoration: none;
  a{
    text-decoration: none;
  }
}

.box-cadastro{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.logo{
  font-weight: 600;
  font-family: sans-serif;
  color: gray !important;
}
.story-body{
  font-size: 1.5rem !important;
  line-height: 1.75 !important;
  color: rgb(139, 139, 139) !important;
  font-family: sans-serif;
}
.img-user{
  height: 100%;
  border: 2px solid gray;
  border-radius: 100%;
  margin-top: 8px;
}
.random-story{
  border: 1px solid #c9c9c9;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.facebtn{
  background-color: #3b5998 !important;
  color: white !important;
  &:hover{
    color: white !important;
  }
}

.iface{
  color: white !important;
  &:hover{
    color: white !important;
  }
}

.comment-title{
  margin:0 0 20px 0;
  padding: 10px;
  font-size: 2.5rem;
  color: gray;
  line-height: 1.75;

}
