h1.story-title{
  margin: 0 0 10px 0;
}


.logo{
  font-weight: 600;
  font-family: monospace;
  color: #158CBA !important;
}
.random-story{
  border: 1px solid #c9c9c9;
  padding: 10px;
}
.boxbig{
   background-color: rgba(77, 117, 177, .1);
}
